@model Book_Store.Models.Location

@{
    ViewBag.Title = "GetLocationById";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GetLocationById</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateLocationById", new { id = Model.Location_Id }) |
    @Html.ActionLink("Back to List", "GetLocation")
</p>
